.header {
  height: 7.938rem;
  margin-bottom: 2.75rem;
  background-color: var(--background-header);
  display: flex;
  justify-content: center;
}

.headerContainer {
  margin-left: 10.4rem;
  margin-right: 10.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.938rem;
  max-width: 1280px;
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
  }
}
