.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.938rem;
  margin-bottom: 1.563rem;
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  background-color: var(--background-header);
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
  }
}
