.content {
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 100%;
  margin-left: 10.4rem;
  margin-right: 10.4rem;
  background-color: var(--ice-blue);
  border-radius: 10px;
  max-width: 1280px;
}

.progressBar {
  position: relative;
  height: 1rem;
  width: 17.875rem;
  background-color: var(--white);
  border-radius: 9.5px;
  margin-left: 2.5rem;
  top: -0.5rem;
}

.progressBar::after {
  content: "\a";
  position: absolute;
  background-color: var(--dodger-blue);
  border-radius: 9.5px;
  top: 0;
  bottom: 0;
  left: 0;
  --oneStepProgress: calc(100% / 7);
  width: calc(var(--oneStepProgress) * 2);
}

.progressCircle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--dodger-blue);
  border-radius: 50px;
  top: -0.75rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.813rem;
  z-index: 1;
  --oneStep: calc(17.875rem / 7);
  left: calc(var(--oneStep) * 2 - 1.25rem);
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 4.375rem;
  padding-top: 3.5rem;
}

.options {
  display: flex;
  gap: 1.75rem;
  margin-right: 5.938rem;
}

.text {
  width: 22.813rem;
  margin-left: 2.5rem;
  margin-top: 3.25rem;
}

.stepperNavigation {
  position: relative;
  top: 2.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.buttonBack,
.buttonForward {
  height: 2.75rem;
  background-color: none;
  border-radius: 8px;
  border: solid 1px var(--dodger-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2.5rem;
  margin-right: 5.938rem;
}

.buttonBack:hover,
.buttonForward:hover {
  cursor: pointer;
}

.buttonBack {
  background-color: var(--white);
  color: var(--dodger-blue);
  gap: 1.156rem;
}

.buttonForward {
  background-color: var(--dodger-blue);
  color: var(--white);
  gap: 6.344rem;
}

.arrowIcon {
  width: 0.813rem;
  height: 0.875rem;
}

.price {
  position: relative;
  color: var(--dodger-blue);
  font-size: 0.938rem;
  margin-left: 2.5rem;
  margin-right: 5.938rem;
  top: 1rem;
}

@media only screen and (max-width: 768px) {
  .contentWrapper {
    padding-top: 0rem;
    flex-direction: column;
    align-items: center;
    gap: 2.125rem;
  }
  .options {
    margin-right: 0;
  }
  .text {
    margin-top: 2rem;
  }
  .buttonForward {
    margin-right: 2.5rem;
    gap: 1.156rem;
  }
  .buttonBack {
    margin-right: 2.5rem;
  }
  .stepperNavigation {
    margin-top: -2rem;
    display: flex;
    gap: 4.5rem;
    top: 4.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .contentContainer {
    max-width: 320px;
  }
  .stepperNavigation {
    position: relative;
    justify-content: center;
    gap: 1rem;
    margin-left: 2rem;
    top: 5.8rem;
  }
  .buttonBack,
  .buttonForward {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .buttonForward {
    max-width: 7.5rem;
  }
  .navigationForward {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    width: 16rem;
  }
  .progressBar {
    margin-left: 1rem;
  }
}
