@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body,
html {
  padding: 0;
  margin: 0;
}

/* Elements */
h1 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

h2,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text-1);
}

/* CSS Variables */
:root {
  --background-header: #f4f4f4;
  --white: #ffffff;
  --ice-blue: #e5f2ff;
  --ice-blue-alt: #eef7ff;
  --dodger-blue: #3399ff;
  --dodger-blue-alt: #2aa5ff;
  --title-blue: #093550;
  --text-blue: #58727e;
  --form-blue: #003e5b;
}

/* Font */
:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--text-blue);
}
.--text-4 {
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 2rem;
  color: var(--title-blue);
}
.--text-3 {
  line-height: normal;
  letter-spacing: normal;
  font-weight: 300;
  font-size: 1.125rem;
  color: var(--dodger-blue-alt);
}
.--text-2 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--white);
}
.--text-1 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 28px;
  letter-spacing: 0px;
  color: var(--dodger-blue);
}
.--text-header {
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--title-blue);
}
.--text-input {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 24px;
  letter-spacing: normal;
  color: #6b9bc4;
}

.--form-title {
  color: var(--form-blue);
  font-weight: bold;
  font-size: 1.125rem;
}

@media only screen and (max-width: 768px) {
  .--text-1 {
    font-size: 0.875rem;
    line-height: 20px;
  }
  .--text-2 {
    font-size: 0.875rem;
    line-height: 20px;
  }
  .--text-3 {
    font-size: 0.875rem;
  }
  .--text-4 {
    font-size: 1.5rem;
  }
  .--text-header {
    font-size: 1rem;
  }
}

/* Lelijke MUI overschrijven */
.MuiOutlinedInput-notchedOutline {
  border-color: #b9d2ec !important;
  border-radius: 8px;
}

.MuiOutlinedInput-notchedOutline:focus {
  border-color: #3399ff !important;
}

.MuiOutlinedInput-input {
  background-color: #fbfdff !important;
}

.MuiInputLabel-root {
  color: #b9d2ec !important;
}
